<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container">
      <form action="/register" method="post" class="register">
        <h1>Registration</h1>
        <input placeholder="Enter firstname" name="firstname" type="text" />
        <input placeholder="Enter lastname" name="lastname" type="text" />
        <input placeholder="Enter age" name="age" type="number" />
        <input placeholder="Enter email" name="email" type="text" />
        <input  placeholder="Enter your city" name="city" type="text">
        <input placeholder="Enter password" name="password" type="password" />
        <input placeholder="Confirm password" name="confPass" type="password" />
        <button>Sign Up</button> 
      </form>
  </body>
</html>
